div.testbox{
    position: relative;
    height: 20px;
    width: 20px;
    background-color: black;
    
    transition:  top 1800ms linear, left 1800ms linear;
    
}
div.testwrap{
    display: inline-block;
    height: 200px;
    width: 300px;
    border:2px solid red;
}